#IDE
.idea

# Java
target/
build/
.gradle/

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

# Env files
.env

# Docker volumes
pgdata/

# Frontend
node_modules/
dist/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
frontend/tailwind.config.js
frontend/tailwind.config.d.ts
